<a href="https://colab.research.google.com/github/paulovitornovaes/Algoritmos-e-Estruturas-de-Dados/blob/main/TrabalhoFinalBD3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big Data: Como instalar o PySpark no Google Colab
Atualizado para a versão 3.4.0

Como instalar o PySpark no Google Colab é uma dúvida comum entre aqueles que estão migrando seus projetos de Data Science para ambientes na nuvem.

O termo Big Data está cada vez mais presente, e mesmo projetos pessoais podem assumir uma grande dimensionalidade devido à quantidade de dados disponíveis.

Para analisar grandes volumes de dados, Big Data, com velocidade, o Apache Spark é uma ferramenta muito utilizada, dada a sua capacidade de processamento de dados e computação paralela.

O Spark foi pensado para ser acessível, oferecendo diversas APIs e frameworks em Python, Scala, SQL e diversas outras linguagens.

## PySpark no Google Colab

PySpark é a interface alto nível que permite você conseguir acessar e usar o Spark por meio da linguagem Python. Usando o PySpark, você consegue escrever todo o seu código usando apenas o nosso estilo Python de escrever código.

Já o Google Colab é uma ferramenta incrível, poderosa e gratuita – com suporte de GPU inclusive. Uma vez que roda 100% na nuvem, você não tem a necessidade de instalar qualquer coisa na sua própria máquina.

No entanto, apesar da maioria das bibliotecas de Data Science estarem previamente instaladas no Colab, o mesmo não acontece com o PySpark. Para conseguir usar o PySpark é necessário alguns passos intermediários, que não são triviais para aqueles que estão começando.

Dessa forma, este é um tutorial simples e direto ensinando a instalar as dependências e a biblioteca.

## Instalando o PySpark no Google Colab

Instalar o PySpark não é um processo direto como de praxe em Python. Não basta usar um pip install apenas. Na verdade, antes de tudo é necessário instalar dependências como o Java 8, Apache Spark 3.4 junto com o Hadoop 3.3.

In [ ]:
#Instalar as dependências

#Instalar Java 8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

#Realizar o download do Spark
!wget -q https://dlcdn.apache.org/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz

#Descompartar o arquivo baixado
!tar xf spark-3.4.0-bin-hadoop3.tgz

#Instalando a findspark
!pip install -q findspark

A próxima etapa é configurar as variáveis de ambiente, pois isso habilita o ambiente do Colab a identificar corretamente onde as dependências estão rodando.

Para conseguir “manipular” o terminal e interagir como ele, você pode usar a biblioteca os.

In [ ]:
#Configurar as variáveis de ambiente

#Importando a biblioteca os
import os

#Definindo a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

#Definindo a variável de ambiente do Spark
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"

#Importando a findspark
import findspark

#Iniciando o findspark
findspark.init('spark-3.4.0-bin-hadoop3')

Com tudo pronto, vamos rodar uma sessão local para testar se a instalação funcionou corretamente.

In [ ]:
# iniciar uma sessão local
from pyspark.sql import SparkSession
import time
sc = SparkSession.builder.master('local[*]').config('spark.ui.port', '4050').getOrCreate()

In [ ]:
#Executando apenas a variável sc em uma célula veremos algumas informações sobre a sessão Spark criada.
sc

Importado dados de exemplo

In [ ]:
#Importando os dados do Airbnb

#Download do http para arquivo local
!wget --quiet --show-progress http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2023-03-28/visualisations/listings.csv

#O arquivo está disponível no diretório “/content/”. Agora, vamos levar esse arquivo arquivo *.csv para dentro do Spark:

listings.csv        100%[===================>]   4.37M  6.30MB/s    in 0.7s

In [ ]:
#Carregar dados do Airbnb
df_spark = sc.read.option("delimiter", ",").csv("./listings.csv", inferSchema=True, header=True)

In [ ]:
#Verificando o tipo de objeto criado
type(df_spark)

pyspark.sql.dataframe.DataFrame

Perceba que é um formato específico de DataFrame, diferente do conhecido pandas.DataFrame, portanto não é possível utilizar os métodos do Pandas diretamente sobre esse objeto. Mas fique tranquilo que o PySpark possui uma enorme quantidade de métodos para serem aplicados aos Spark Dataframes.

In [ ]:
# Espiando o dataset
df_spark.show(truncate=False)

+------+--------------------------------------------------+-------+------------------------+-------------------+---------------+----------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|id    |name                                              |host_id|host_name               |neighbourhood_group|neighbourhood  |latitude  |longitude |room_type      |price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|license|
+------+--------------------------------------------------+-------+------------------------+-------------------+---------------+----------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
|17878 |Very Nice 2Br in Copacabana w. balcony, fast WiFi |68997  |Matthias                |null               |Copacabana     |-22.96599 |-43.1794  |Entire home/apt|350  |5             |288              |2023-03-01 |1.86             |1                             |264             |19.0                 |null   |
|24480 |Nice and cozy near Ipanema Beach, w/ home office  |99249  |Goya                    |null               |Ipanema        |-22.98405 |-43.20189 |Entire home/apt|624  |3             |86               |2023-03-27 |0.56             |3                             |357             |1.0                  |null   |
|200568|30m of Ipa Beach e fins de semana special price ! |980805 |Henrique                |null               |Ipanema        |-22.98586 |-43.19411 |Entire home/apt|100  |30            |198              |2023-02-13 |1.45             |6                             |59              |9.0                  |null   |
|342874|Comfortable in Copacabana beach                   |829630 |Luciana                 |null               |Leme           |-22.96392 |-43.17263 |Entire home/apt|236  |2             |159              |2023-02-26 |1.19             |3                             |105             |31.0                 |null   |
|25026 |Beautiful Modern Decorated Studio in Copa         |102840 |Viviane                 |null               |Copacabana     |-22.97735 |-43.19105 |Entire home/apt|307  |3             |262              |2023-03-27 |1.68             |1                             |257             |14.0                 |null   |
|202778|Best Studio in Rio - Copacabana                   |529105 |Alex                    |null               |Copacabana     |-22.96582 |-43.17786 |Entire home/apt|266  |3             |223              |2023-03-08 |1.58             |3                             |356             |10.0                 |null   |
|35764 |COPACABANA SEA BREEZE  -  RIO - 25  X Superhost   |153691 |Patricia Miranda & Paulo|null               |Copacabana     |-22.98107 |-43.19136 |Entire home/apt|180  |3             |428              |2023-03-21 |2.82             |1                             |53              |40.0                 |null   |
|48305 |Bright 6bed Penthouse Seconds from Beach          |70933  |Goitaca                 |null               |Ipanema        |-22.98591 |-43.20302 |Entire home/apt|2270 |2             |136              |2023-03-19 |0.92             |9                             |254             |34.0                 |null   |
|203674|IPANEMA PENTHOUSE,JACUZZI + STUNNING CRISTO VIEWS!|999125 |Alastair                |null               |Ipanema        |-22.98335 |-43.20306 |Entire home/apt|1899 |5             |48               |2019-05-07 |0.36             |1                             |268             |0.0                  |null   |
|210173|BEAUTIFUL! Spacious,all rooms                     |1030316|Elizabeth               |null               |Copacabana     |-22.98596 |-43.19001 |Private room   |1576 |2             |3                |2019-10-03 |0.02             |3                             |365             |0.0                  |null   |
|215793|BEAUTIFUL! Spacious,king room!                    |1030316|Elizabeth               |null               |Copacabana     |-22.98596 |-43.19001 |Private room   |427  |2             |39               |2023-02-23 |0.28             |3                             |259             |6.0                  |null   |
|344463|Ocean front 2 suite apt + amenities               |1762102|Hilda                   |null               |Barra da Tijuca|-23.0098  |-43.37099 |Entire home/apt|539  |3             |65               |2022-09-05 |0.51             |2                             |217             |1.0                  |null   |
|48901 |Confortable 4BD 3.5BT Atlantic avenue             |222884 |Marcio                  |null               |Copacabana     |-22.96574 |-43.17514 |Entire home/apt|627  |3             |13               |2023-03-12 |0.14             |2                             |354             |5.0                  |null   |
|346694|Alugo quarto espaçoso ,com direitos               |1612576|Jassanan                |null               |Vila da Penha  |-22.84208 |-43.31572 |Private room   |340  |1             |0                |null       |null             |1                             |362             |0.0                  |null   |
|215887|BEAUTIFUL! Spacious,TWIN ROOM.                    |1030316|Elizabeth               |null               |Copacabana     |-22.98596 |-43.19001 |Private room   |214  |2             |39               |2023-02-22 |0.28             |3                             |255             |5.0                  |null   |
|49179 |Djalma Ocean View Studio with Amazing Views #100A |224192 |David                   |null               |Copacabana     |-22.9791  |-43.19008 |Entire home/apt|200  |4             |133              |2023-03-20 |1.06             |21                            |132             |14.0                 |null   |
|51703 |Ocean view, block of the beach, Copacabana,Ipanema|238091 |Dália                   |null               |Copacabana     |-22.981731|-43.190571|Entire home/apt|178  |3             |233              |2023-03-25 |1.80             |2                             |326             |30.0                 |null   |
|216461|Comfortable room in Flamengo / RIO                |1154263|Zeilma , Da             |null               |Flamengo       |-22.9399  |-43.17676 |Private room   |780  |1             |0                |null       |null             |1                             |365             |0.0                  |null   |
|347295|Copa Penthouse Brown & White Suite                |1603206|Bob                     |null               |Copacabana     |-22.96654 |-43.18248 |Entire home/apt|197  |3             |75               |2023-03-19 |0.56             |5                             |333             |2.0                  |null   |
|53533 |Walk to Joatinga Beach/PedraDaGávea View Casa/Pool|249439 |Sherri & Andre          |null               |Joá            |-23.00809 |-43.29113 |Entire home/apt|1355 |2             |31               |2023-02-23 |0.22             |1                             |332             |13.0                 |null   |
+------+--------------------------------------------------+-------+------------------------+-------------------+---------------+----------+----------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+-------+
only showing top 20 rows

In [ ]:
# Verificando o schema() deste sparkdataframe
df_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: string (nullable = true)
 |-- number_of_reviews_ltm: double (nullable = true)
 |-- license: integer (nullable = true)

Perceba que a variável number_of_reviews, apesar de ser numérica e contínua, foi lida como string. Portanto, precisamos mudar o tipo da variável de string para int conforme comandos a seguir:

In [ ]:
#Transformando o atributo number_of_reviews em numerica
df_spark = df_spark.withColumn("number_of_reviews",df_spark.number_of_reviews.cast('int'))

#Verificando a transformação
df_spark.select('number_of_reviews').printSchema()

root
 |-- number_of_reviews: integer (nullable = true)

In [ ]:
#Importa as funções SQL
from pyspark.sql import functions as F
from pyspark.sql.functions import *

In [ ]:
#Quantidade de linhas no dataframe
linhas = df_spark.count()
print(linhas)

30746

In [ ]:
#Quantidade de colunas no dataframe
colunas = len(df_spark.columns)
print(colunas)

18

In [ ]:
#Selecionando apenas uma coluna
df_spark.select(df_spark.neighbourhood).show()

+---------------+
|  neighbourhood|
+---------------+
|     Copacabana|
|        Ipanema|
|        Ipanema|
|           Leme|
|     Copacabana|
|     Copacabana|
|     Copacabana|
|        Ipanema|
|        Ipanema|
|     Copacabana|
|     Copacabana|
|Barra da Tijuca|
|     Copacabana|
|  Vila da Penha|
|     Copacabana|
|     Copacabana|
|     Copacabana|
|       Flamengo|
|     Copacabana|
|            Joá|
+---------------+
only showing top 20 rows

In [ ]:
#Selecionando valores distintos
dropDisDF = df_spark.dropDuplicates(["neighbourhood"]).select("neighbourhood")
dropDisDF.show(truncate=False)

+-------------------+
|neighbourhood      |
+-------------------+
|-22.96015          |
|Cocotá             |
|-22.97178          |
|Gávea              |
|Tomás Coelho       |
|Ipanema            |
|-22.98487          |
|-23.012897663648584|
|-22.85223724479751 |
|-22.97122          |
|-22.98221          |
|-22.961974403551796|
|Realengo           |
|-22.99748          |
|-22.9775469        |
|Gardênia Azul      |
|-22.97505          |
|Rocha              |
|Bento Ribeiro      |
|Vicente de Carvalho|
+-------------------+
only showing top 20 rows

In [ ]:
#Realizando uma limpeza no dataframe
df_spark_clean = df_spark.filter(~F.col('neighbourhood').contains('2'))
dropDisDF_clean = df_spark_clean.dropDuplicates(["neighbourhood"]).select("neighbourhood")
dropDisDF_clean.show(truncate=False)

+-------------------+
|neighbourhood      |
+-------------------+
|Cocotá             |
|Gávea              |
|Tomás Coelho       |
|Ipanema            |
|Realengo           |
|Gardênia Azul      |
|Rocha              |
|Bento Ribeiro      |
|Vicente de Carvalho|
|Manguinhos         |
|Leme               |
|Jacarepaguá        |
|Botafogo           |
|Campo Grande       |
|Rocinha            |
|Grumari            |
|Padre Miguel       |
|Flamengo           |
|Santo Cristo       |
|Engenho da Rainha  |
+-------------------+
only showing top 20 rows

In [ ]:
#Verificando o total de reviews por bairro do Rio de Janeiro
df_spark_clean.groupBy('neighbourhood').sum('number_of_reviews').orderBy('neighbourhood').show(100)

+--------------------+----------------------+
|       neighbourhood|sum(number_of_reviews)|
+--------------------+----------------------+
|            Abolição|                     0|
|               Acari|                     0|
|   Alto da Boa Vista|                   558|
|            Anchieta|                     0|
|             Andaraí|                   256|
|                Anil|                   158|
|           Bancários|                    62|
|               Bangu|                    78|
|     Barra da Tijuca|                 48023|
|  Barra de Guaratiba|                  1524|
|        Barros Filho|                     1|
|             Benfica|                    49|
|       Bento Ribeiro|                   165|
|          Bonsucesso|                    29|
|            Botafogo|                 23499|
|        Brás de Pina|                    89|
|            Cachambi|                   123|
|              Cacuia|                   179|
|                Caju|                     0|
|             Camorim|                  4906|
|            Campinho|                    40|
|        Campo Grande|                   798|
|           Cascadura|                     1|
|              Catete|                  3426|
|             Catumbi|                    68|
|          Cavalcanti|                     0|
|              Centro|                 20007|
|         Cidade Nova|                   142|
|Cidade Universitária|                     8|
|      Cidade de Deus|                    10|
|              Cocotá|                     5|
|         Coelho Neto|                    56|
|             Colégio|                    25|
|  Complexo do Alemão|                     1|
|          Copacabana|                215700|
|            Cordovil|                     1|
|         Cosme Velho|                   772|
|              Cosmos|                    47|
|            Curicica|                   609|
|        Del Castilho|                    38|
|             Deodoro|                    27|
|           Encantado|                    20|
|     Engenheiro Leal|                     1|
|        Engenho Novo|                   144|
|   Engenho da Rainha|                     1|
|   Engenho de Dentro|                   100|
|             Estácio|                   313|
|            Flamengo|                  9596|
|    Freguesia (Ilha)|                     8|
|Freguesia (Jacare...|                   739|
|            Gabriela|                   320|
|              Galeão|                     2|
|              Gamboa|                   345|
|       Gardênia Azul|                   170|
|            Gericinó|                     2|
|              Glória|                  4866|
|              Grajaú|                   191|
|             Grumari|                   189|
|           Guadalupe|                     8|
|           Guaratiba|                   965|
|               Gávea|                  1769|
|        Higienópolis|                    25|
|      Honório Gurgel|                   228|
|             Humaitá|                  1241|
|             Inhaúma|                    35|
|            Inhoaíba|                    15|
|             Ipanema|                 80063|
|               Irajá|                   204|
|           Itanhangá|                  1352|
|         Jacarepaguá|                 15272|
|              Jacaré|                     1|
|      Jardim América|                     6|
|     Jardim Botânico|                  1709|
|      Jardim Carioca|                    98|
|    Jardim Guanabara|                   915|
|      Jardim Sulacap|                   118|
|                 Joá|                  1403|
|               Lagoa|                  3240|
|         Laranjeiras|                  4556|
|              Leblon|                 33750|
|                Leme|                 10566|
| Lins de Vasconcelos|                    10|
|           Madureira|                    45|
|    Magalhães Bastos|                    31|
|          Manguinhos|                     0|
|            Maracanã|                   719|
|     Marechal Hermes|                     9|
|      Maria da Graça|                    42|
|              Moneró|                   104|
|               Méier|                    88|
|              Olaria|                    76|
|        Osvaldo Cruz|                     6|
|           Paciência|                    12|
|        Padre Miguel|                    10|
|             Paquetá|                   811|
|     Parada de Lucas|                    89|
|     Parque Anchieta|                     7|
|              Pavuna|                     1|
|           Pechincha|                   288|
|  Pedra de Guaratiba|                    17|
+--------------------+----------------------+
only showing top 100 rows

In [ ]:
#Verificando o total de reviews por bairro do Rio de Janeiro
df_spark_clean.groupBy('neighbourhood').sum('number_of_reviews').orderBy('sum(number_of_reviews)').show(100)

+--------------------+----------------------+
|       neighbourhood|sum(number_of_reviews)|
+--------------------+----------------------+
|          Manguinhos|                     0|
|            Abolição|                     0|
|            Anchieta|                     0|
|         Vila Kosmos|                     0|
|          Santíssimo|                     0|
|               Acari|                     0|
|          Água Santa|                     0|
|                Caju|                     0|
|Ricardo de Albuqu...|                     0|
|          Cavalcanti|                     0|
|   Engenho da Rainha|                     1|
|              Pavuna|                     1|
|     Engenheiro Leal|                     1|
|           Cascadura|                     1|
|        Barros Filho|                     1|
|  Complexo do Alemão|                     1|
|            Cordovil|                     1|
|              Jacaré|                     1|
|            Gericinó|                     2|
|              Galeão|                     2|
|       Vigário Geral|                     3|
|             Piedade|                     4|
|              Cocotá|                     5|
|        Tomás Coelho|                     5|
|             Ribeira|                     6|
|             Turiaçú|                     6|
|        Osvaldo Cruz|                     6|
|   Quintino Bocaiúva|                     6|
|      Jardim América|                     6|
|               Zumbi|                     7|
|     Parque Anchieta|                     7|
|           Guadalupe|                     8|
|Cidade Universitária|                     8|
|    Freguesia (Ilha)|                     8|
|     Marechal Hermes|                     9|
|        Padre Miguel|                    10|
| Lins de Vasconcelos|                    10|
|            Vaz Lobo|                    10|
|      Cidade de Deus|                    10|
|           Paciência|                    12|
| Vicente de Carvalho|                    13|
|            Inhoaíba|                    15|
|        Pitangueiras|                    16|
|  Pedra de Guaratiba|                    17|
|      Penha Circular|                    18|
|           Encantado|                    20|
|              Tanque|                    20|
|           Riachuelo|                    20|
|            Sepetiba|                    24|
|               Rocha|                    25|
|             Colégio|                    25|
|        Higienópolis|                    25|
|             Deodoro|                    27|
|          Bonsucesso|                    29|
|       Vila da Penha|                    30|
|    Magalhães Bastos|                    31|
|                Tauá|                    34|
|             Inhaúma|                    35|
|   Praia da Bandeira|                    35|
|       Vasco da Gama|                    36|
|        Del Castilho|                    38|
|            Realengo|                    40|
|            Campinho|                    40|
|      Senador Camará|                    40|
|      Maria da Graça|                    42|
|             Pilares|                    44|
|           Madureira|                    45|
|              Cosmos|                    47|
|             Benfica|                    49|
|       Rocha Miranda|                    51|
|             Sampaio|                    56|
|         Coelho Neto|                    56|
|           Bancários|                    62|
|               Saúde|                    67|
|             Catumbi|                    68|
|             Rocinha|                    71|
|              Olaria|                    76|
|               Bangu|                    78|
|          Santa Cruz|                    83|
|               Méier|                    88|
|     Parada de Lucas|                    89|
|        Brás de Pina|                    89|
|          Praça Seca|                    95|
|      Jardim Carioca|                    98|
|     Todos os Santos|                    99|
|   Engenho de Dentro|                   100|
|              Moneró|                   104|
|        Vila Militar|                   107|
|      Jardim Sulacap|                   118|
|        Santo Cristo|                   122|
|            Cachambi|                   123|
|         Cidade Nova|                   142|
|        Engenho Novo|                   144|
|                Anil|                   158|
|               Ramos|                   164|
|       Bento Ribeiro|                   165|
|       Gardênia Azul|                   170|
| Senador Vasconcelos|                   179|
|              Cacuia|                   179|
|             Grumari|                   189|
+--------------------+----------------------+
only showing top 100 rows

In [ ]:
df_spark_clean.groupBy('neighbourhood').sum('number_of_reviews').orderBy(col('sum(number_of_reviews)').desc()).show(100)

+--------------------+----------------------+
|       neighbourhood|sum(number_of_reviews)|
+--------------------+----------------------+
|          Copacabana|                215700|
|             Ipanema|                 80063|
|     Barra da Tijuca|                 48023|
|              Leblon|                 33750|
|            Botafogo|                 23499|
|              Centro|                 20007|
|        Santa Teresa|                 19064|
|Recreio dos Bande...|                 17189|
|         Jacarepaguá|                 15272|
|                Leme|                 10566|
|            Flamengo|                  9596|
|             Camorim|                  4906|
|              Glória|                  4866|
|         Laranjeiras|                  4556|
|              Tijuca|                  4280|
|             Vidigal|                  3493|
|              Catete|                  3426|
|               Lagoa|                  3240|
|                Urca|                  2667|
|               Gávea|                  1769|
|     Jardim Botânico|                  1709|
|       São Cristóvão|                  1676|
|  Barra de Guaratiba|                  1524|
|                 Joá|                  1403|
|           Itanhangá|                  1352|
|             Humaitá|                  1241|
|           Guaratiba|                   965|
|         Vila Isabel|                   959|
|    Jardim Guanabara|                   915|
|          Portuguesa|                   814|
|             Paquetá|                   811|
|        Campo Grande|                   798|
|         Cosme Velho|                   772|
|Freguesia (Jacare...|                   739|
|            Maracanã|                   719|
|      Vargem Pequena|                   657|
|             Taquara|                   647|
|            Curicica|                   609|
|       Vargem Grande|                   570|
|   Alto da Boa Vista|                   558|
|         São Conrado|                   537|
|        Rio Comprido|                   355|
|              Gamboa|                   345|
|   Praça da Bandeira|                   342|
|            Gabriela|                   320|
|             Estácio|                   313|
|           Pechincha|                   288|
|             Andaraí|                   256|
|               Penha|                   255|
|São Francisco Xavier|                   235|
|      Honório Gurgel|                   228|
|               Irajá|                   204|
|      Vila Valqueire|                   201|
|              Grajaú|                   191|
|             Grumari|                   189|
| Senador Vasconcelos|                   179|
|              Cacuia|                   179|
|       Gardênia Azul|                   170|
|       Bento Ribeiro|                   165|
|               Ramos|                   164|
|                Anil|                   158|
|        Engenho Novo|                   144|
|         Cidade Nova|                   142|
|            Cachambi|                   123|
|        Santo Cristo|                   122|
|      Jardim Sulacap|                   118|
|        Vila Militar|                   107|
|              Moneró|                   104|
|   Engenho de Dentro|                   100|
|     Todos os Santos|                    99|
|      Jardim Carioca|                    98|
|          Praça Seca|                    95|
|     Parada de Lucas|                    89|
|        Brás de Pina|                    89|
|               Méier|                    88|
|          Santa Cruz|                    83|
|               Bangu|                    78|
|              Olaria|                    76|
|             Rocinha|                    71|
|             Catumbi|                    68|
|               Saúde|                    67|
|           Bancários|                    62|
|             Sampaio|                    56|
|         Coelho Neto|                    56|
|       Rocha Miranda|                    51|
|             Benfica|                    49|
|              Cosmos|                    47|
|           Madureira|                    45|
|             Pilares|                    44|
|      Maria da Graça|                    42|
|            Realengo|                    40|
|            Campinho|                    40|
|      Senador Camará|                    40|
|        Del Castilho|                    38|
|       Vasco da Gama|                    36|
|             Inhaúma|                    35|
|   Praia da Bandeira|                    35|
|                Tauá|                    34|
|    Magalhães Bastos|                    31|
|       Vila da Penha|                    30|
+--------------------+----------------------+
only showing top 100 rows